<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/families"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Families
      </a>
    </div>
    <div class="col-sm">
      <a href="/outings"
         role="button"
         class="btn btn-outline-success btn-lg btn-block text-center">
        <span><i class="fa fa-beer"></i></span>
        <br>Outings
      </a>
    </div>
    <div class="col-sm">
      <a href="/celebrations"
         role="button"
         class="btn btn-outline-info btn-lg btn-block text-center">
        <span><i class="fa fa-calendar"></i></span>
        <br>Celebrations
      </a>
    </div>
    <div class="col-sm">
      <a href="/events"
         role="button"
         class="btn btn-outline-warning btn-lg btn-block text-center">
        <span><i class="fa fa-birthday-cake"></i></span>
        <br>Events
      </a>
    </div>
  </div>
</div>
